@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap'); /*Karla*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-link {
    color: white;
    text-decoration: none;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 3em;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
}
.contact-header {
    color: #fe0000;
    font-size: 1.5rem;
}
.contact-text {
    margin-top: 20px;
    width: 70%;
    font-size: 1.1rem;
}
.contact-links {
    margin-top: 30px;
}
.home {
    padding: 10px 20px;
    background: none;
    background-color: #fe0000;
    color: white;
    font-family: 'Karla', sans-serif;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.contact {
    padding: 10px 20px;
    background: none;
    background-color: white;
    border: none;
    font-family: 'Karla', sans-serif;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
    margin-left: 30px;
    cursor: pointer;
}