/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap'); /*Karla*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); /*Bungee*/

/*Global styles*/
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
body {
    font-family: 'Karla', sans-serif;
    background-color: black;
    overflow-x: hidden;
}
.divider {
    position: relative;
}

/*Curves*/
/*Navbar Curve*/
.nav-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.nav-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
}

.nav-curve .shape-fill {
    fill: #FFFFFF;
}
/*Hero Curve*/
.hero-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.hero-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 184px;
}

.hero-curve .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1645418550 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645418550 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 112px;
}

.custom-shape-divider-bottom-1645418550 .shape-fill {
    fill: black;
}
/*Event Curve*/
.event-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.event-curve svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 112px;
}

.event-curve .shape-fill {
    fill: black;
}

/*Header*/
.header-container {
    background-color: white;
    height: 120px;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    height: 100px;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-link a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding: 10px 20px;
}
.nav-links > li > .active-page {
    background-color: #fe0000;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-link a:hover {
    border: 1px solid #fe0000;
    border-radius: 20px;
}
.nav-link + .nav-link {
    margin-left: 80px;
}

.menu {
    display: none;
}

.menu .line {
    width: 30px;
    height: 5px;
    background-color: #fe0000;
    border-radius: 20px;
}

.line + .line {
    margin-top: 3px;
}


/*Hero*/
.hero {
    color: white;
    text-align: center;
    width: 70%;
    margin: 150px auto 0px;
    height: 100vh;
}

.hero h1 {
    font-family: 'Bungee', cursive;
    font-size: 3rem;
    line-height: 80px;
}

.hero p {
    font-family: 'Karla', sans-serif; 
    font-size: 1.5rem;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fe0000;
    color: white;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
}
.hero button:hover {
    transform: scale(1.1);
}

.hero-ext {
    display: flex;
    justify-content: space-around;
    margin-top: 175px;
    transform: translateX(-50px);
}
.ext-item i {
    font-size: 100px;
}
.ext-item h1 {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
}

/*Community*/
.community {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 200px;
}
.c-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.community-icon i {
    font-size: 200px;
    color: #fe0000;
}
.community-text {
    width: 50%;
}
.community h1 {
    font-size: 3rem;
    color: #fe0000;
}
.community p {
    font-size: 1.5rem;
    margin-top: 20px;
}

/*Events*/
.events {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.e-text {
    width: 50%;
}
.e-icon i {
    font-size: 200px;
    color: #fe0000;
}
.events h1 {
    font-size: 3rem;
    color: #fe0000;
}
.events p {
    font-size: 1.5rem;
    margin-top: 20px;
}

/*Giveaways*/
.giveaways {
    background-color: white;
    padding-top: 150px;
    padding-bottom : 100px;
}
.g-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.g-text {
    width: 50%;
}
.giveaways h1 {
    font-size: 3rem;
    color: #fe0000;
}
.giveaways p {
    font-size: 1.5rem;
    margin-top: 20px;
}
.g-icon i {
    font-size: 200px;
    color: #fe0000;
}

/*Footer*/
footer {
    color: white;
    height: 200px;
    padding: 50px 0px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.f-logo {
    border-right: 2px solid grey;
    padding: 50px 50px 50px 0px;
}

.contact-numbers {
    border-right: 2px solid grey;
    padding: 50px 50px 50px 0px;
}

.social-links ul {
    list-style: none;
}
.social-link + .social-link {
    margin-top: 20px;
}
.social-links i {
    color: white;
    font-size: 2rem;
    margin-right: 20px;
}

/*Mobile View*/
@media only screen and (max-width: 600px) {
    body {
        overflow-y: hidden;
    }
    html {
        overflow-y: visible;
    }
    html, body{
        overflow-x: hidden;
    }
    /*Header*/
    nav {
        display: none;
    }
    .menu {
        display: block;
    }
    .hero {
        height: 80vh;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1.2rem;
    }
    .hero-ext {
        display: none;
    }

    /*Community*/
    .community {
        padding-top: 0px;
    }
    .c-container {
        flex-direction: column;
    }
    .community-text {
        width: 80%;
    }
    /*Events*/
    .events {
        flex-direction: column;
    }
    .e-text {
        width: 80%;
    }
    .events i {
        margin-top: 50px;
    }

    /*Giveaways*/
    .g-container {
        flex-direction: column;
    }
    .g-text {
        width: 80%;
    }

    /*Footer*/
    .f-logo {
        border: none;
    }
    .contact-numbers {
        border: none;
    }
    footer i {
        font-size: 1rem;
    }
    .social-links {
        text-align: center;
    }
}