/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap'); /*Karla*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap'); /*Bungee Inline*/

/*Global styles*/
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: black;
}

/*Header*/
.header-container {
    background-color: white;
    height: 120px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    height: 100px;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-link a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding: 10px 20px;
}
.nav-links > li > .active-page {
    background-color: #fe0000;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-link a:hover {
    border: 1px solid #fe0000;
    border-radius: 20px;
}
.nav-link + .nav-link {
    margin-left: 80px;
}

.menu {
    display: none;
}

.menu .line {
    width: 30px;
    height: 5px;
    background-color: #fe0000;
    border-radius: 20px;
}

.line + .line {
    margin-top: 3px;
}

/*Hero*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.hero-text {
    color: white;
}

.hero-text h1 {
    font-family: 'Bungee Inline', cursive;
    font-size: 3rem;
}

.hero-text p {
    font-size: 1.5rem;
    font-family: 'Karla', sans-serif;
}

.hero-text button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fe0000;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    background-color: white;
    color: black;
}
.hero-img img {
    height: 500px;
}

/*I wanna make the hero center focused*/